[program:gunicorn]
command=/usr/local/bin/gunicorn pgw:app -c /home/{{ ansible_user_id }}/gunicorn.conf.py
directory=/home/{{ ansible_user_id }}
user=nobody
autostart=true
autorestart=true
redirect_stderr=true
